.featured__subtitle{
  color: var(--clr-indigo);
  font-size: var(--size-sm);
}

.featured__title{
  font-size: var(--size-2xl);
  color: var(--clr-light);
}

/*  xs */
/* @media(min-width: 475px){} */

/* sm */
/* @media(min-width: 640px){} */

/* md */
/* @media(min-width: 768px){} */

/* lg */
/* @media(min-width: 1024px){} */

/* xl */
/* @media(min-width: 1200px){} */

/* 2xl */
/* @media(min-width: 1536px){} */
